body {
	background-color: #E5E5E5;
}

.left-holder {
	display: inline-block;
	vertical-align: top;
	padding: 66px;
}

.right-holder {
	display: inline-block;
	vertical-align: top;
	padding: 66px;
	padding-left: 0px;
}

.left-section {
	height: 155px;
	width: 300px;
	padding: 27px 20px;
}

.left-name {
	float: left;
	line-height: 103px;
	font-size: 16px;
}

.left-action {
	float: right;
	width: 80px;
	text-align: center;
}

.tunnel-container {
	width: 1015px;
	margin-left: auto;
	margin-right: auto;
	background-color: #F8F8F8;
	border-radius: 5px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 50%;
	margin-top: -340px;
}

#display-full-key {
	display: none;
	margin-left: auto;
	margin-right: auto;
	width: 490px;
	height: 467px;
	font-family: "Ubuntu Mono",Menlo,Monaco,Consolas,"Courier New",monospace;
	font-size: 12px;
	display: block;
	background-color: white;
	border: 2px solid #C8C8C8;
	border-radius: 5px;

}

#startstop {
	width: 75px;
	height: 75px;
	border-radius: 50px;
	background-color: white;
	border: 2px solid #A3A3A3;
	position: relative;
	cursor: pointer;
	margin-top: 13px;
}

#innerbutton {
	position: absolute;
	width: 45px;
	height: 45px;
	margin: 13px auto;
	left: 0px;
	right: 0px;
	background-color: #C8C8C8;
	border: 2px solid #A3A3A3;
	border-radius: 25px;
	-webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#startstop:active #innerbutton {
	-webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -ms-transform: scale(0.95);
  -o-transform: scale(0.95);
  transform: scale(0.95);
}

#downloadKey {
	font-size: 60px;
	margin: 25px 0px;
	color: #0094D9;
}

#downloadKey:hover {
	color: #337AB7;
}

#display-port {
	font-size: 16px;
	font-weight: bold;
	line-height: 103px;
}

@media (max-width: 1015px) {
	.tunnel-container {width: 100%; top: 0px; margin-top: 0px;}
	.left-holder {width: 100%;}
	.left-section {margin-left: auto; margin-right: auto;}
	.right-holder {width: 100%; margin-left: auto; margin-right: auto; padding-top: 0px; padding-right: 0px;}
}