ACTION=="add",KERNEL=="sd*1",ENV{DEVTYPE}=="partition",SYMLINK+="WWUPDATEp%n", RUN+="/wigwag/wwrelay-utils/initscripts/UDEV/WWUPDATE.sh"
ACTION=="remove",KERNEL=="sd*1",ENV{DEVTYPE}=="partition", RUN+="/wigwag/wwrelay-utils/initscripts/UDEV/WWUPDATE.sh remove"
